@import 'styles/variables';

nav {
  .list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
  }

}

.navitem {
  position: relative;
  text-align: center;
  transition: transform .2s;

  img {
    opacity: 0.7;
  }

  .navtext {
    // fill-opacity: 0.2;
    // opacity: 1.5;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    font-weight: bold;
  }
}

.navitem:hover {
  transform: scale(1.1);

  img {
    opacity: 1;
  }

  .navtext {
    font-size: large;
  }
}

.navitemScrolled {
  transform: scale(1.1);
  // background-color: red;

  img {
    opacity: 1;
  }

  .navtext {
    font-size: large;
  }
}
