.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.main {
  background-color: red;
  // height: 50vh;
  // flex: 1;
}
