.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.main {
  overflow: scroll;
  overflow-x: hidden;
  height: 70vh;
  padding: 0;
  // flex: 1;
}

// .img {
//   max-height: 30vh;
//   position: fixed;
//   bottom: 0;
//   z-index: 2;
// }
