$background: rgba($color: white, $alpha: 0.5);

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bio {
  display: flex;
  justify-content: center;

  .profile {
    width: 40%;
    margin-right: 10px;
    background: $background;
    border-radius: 8px;
  }

  .cv {
    margin-left: 10px;
    background: $background;
    border-radius: 8px;
  }
}

.skills {
  align-self: center;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  // grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  // grid-gap: 1rem;
  // grid-auto-flow: dense;


  .skillsCard {
    background: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-gap: 1rem;
  }

  i {
    font-size: 50px;
    margin: 10px;
    // letter-spacing: 30px;
  }
}

.skills > div {
  background: $background;
  border-radius: 8px;
  margin: 0.5rem;
  width: 25vh ;
  min-height: 10vh;
}
