$background: rgba($color: white, $alpha: 0.5);

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30vh;
}

.bio {
  display: flex;
  justify-content: center;
  text-align: left;
  align-self: center;
  flex-wrap: wrap;
  width: 80%;

  .profile {
    max-width: 70vh;
    margin: 10px;
    background: $background;
    border-radius: 8px;
    padding: 1rem;
  }

  .cv {
    margin: 10px;
    background: $background;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.skills {
  align-self: center;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


  .skillsCard {
    background: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  i {
    font-size: 50px;
    margin: 10px;
  }
}

.skills > div {
  background: $background;
  border-radius: 8px;
  margin: 0.5rem;
  width: 25vh ;
  min-height: 10vh;
}
